<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kxhl.api</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/yihein.chai/Documents/learn/kingscrosshacklab/projects/makemore/api/start_production.sh</string>
        <string>start</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/yihein.chai/Documents/learn/kingscrosshacklab/projects/makemore/api</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/yihein.chai/Documents/learn/kingscrosshacklab/projects/makemore/api/logs/launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/yihein.chai/Documents/learn/kingscrosshacklab/projects/makemore/api/logs/launchd.error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/anaconda3/bin</string>
    </dict>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
